#scroll {
    position:fixed;
    display: inline-block;
    right:50px;
    bottom:80px;
    cursor:pointer;
    width:35px;
    height:35px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:darkgrey;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

